<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <h1>Superior Petroleum Admin Page</h1>
        <h3>Select a project to modify:</h3>
        <div>
            <h5>Properties</h5>
            {%for property in properties%}
            <a href="/superior/admin/property/{{property.id}}">{{property.name}} {{property.email}} {{property/created_at}}</a>
            {%endfor%}
        </div>



    </div>
</body>
</html>