<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <h1>Welcome to Superior Petroleum</h1>
        <h3>Experience and track reocrd...</h3>
        <h3>Current & past engagements...</h3>
        <a href="/superior/sell">Want to sell?</a>
        <a href="/superior/help">Want help?</a>
        <a href="/superior/partner">Want to partner?</a>
        <a href="/login">New Customer Registration and Current Customer Login</a>
        {%for message in messages%}
        <p>{{message}}</p>
        {%endfor%}
        <h3>Useful information...</h3>
    </div>
</body>
</html>