<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <h1>Thank you for submitting a proposal for partnership with Superior Petroleum!</h1>
        <p>We will respond and discuss in 10 business days or less.  </p>
        <a href="/superior/dashboard">Return to your dashboard</a>
        <a href="/logout">Log out</a>
    </div>
</body>
</html>